@using BootstrapBlazor.Components
@using fstools.Models;
@using fstools.Services;


<Collapse>
    <CollapseItems>
        <CollapseItem Text="@Title()" TitleColor="Color.Primary" IsCollapsed="false">
            @if (WeatherInfo != null)
            {
                <div class="row g-3">
                    <div class="col-12">
                        <b>Raw METAR:</b> @WeatherInfo.WeatherData.RawOb
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Report Time:</b> @WeatherInfo.WeatherData.ReportTime
                    </div>
                </div>
@*                <div class="row g-3">
                    <div class="col-12">
                        <b>Flight Category:</b> @WeatherInfo.WeatherData.Category
                    </div>
                </div>*@
                <div class="row g-3">
                    <div class="col-12">
                        <b>Temperature/Dewpoint:</b> @WeatherInfo.WeatherData.Temp&deg;C / @WeatherInfo.WeatherData.Dewp&deg;C
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        @if (WeatherInfo.WeatherData.Wdir.Equals("0"))
                        {
                            <label><b>Wind:</b> Calm</label>
                        }
                        else
                        {
                            <label><b>Wind:</b> @WeatherInfo.WeatherData.Wdir degrees at @WeatherInfo.WeatherData.Wspd knots</label>
                        }
                    
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Visibility:</b> @WeatherInfo.WeatherData.Visib statute miles
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Altimeter:</b> @Math.Round(WeatherInfo.WeatherData.Altim * .02953, 2) Hg / @WeatherInfo.WeatherData.Altim mb
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Sky Conditions:</b>
                        <ul>
                            @foreach (var c in WeatherInfo.WeatherData.Clouds)
                            {
                                @if (c.Cover.Equals("CLR"))
                                {
                                    <li>Clear</li>
                                }
                                else
                                {
                                     <li>@c.Cover at @c.Base' AGL</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <label>METAR data not found</label>
            }
        </CollapseItem>
    </CollapseItems>
</Collapse>

       
@code {
    [Parameter]
    public String ICAO { get; set; }

    [Parameter]
    public MetarInfo WeatherInfo { get; set; }


    protected string Title()
    {
        return $"METAR for {ICAO.ToUpper()}";
    }
}
