@using BootstrapBlazor.Components
@using fstools.Models;
@using fstools.Services;


<Collapse>
    <CollapseItems>
        <CollapseItem Text="@Title()" TitleColor="Color.Primary" IsCollapsed="false">
            @if (WeatherInfo != null)
            {
                <div class="row g-3">
                    <div class="col-12">
                        <b>Raw METAR:</b> @WeatherInfo.WeatherData.Raw
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Report Time:</b> @WeatherInfo.WeatherData.Time_of_obs
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Flight Category:</b> @WeatherInfo.WeatherData.Category
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Temperature/Dewpoint:</b> @WeatherInfo.WeatherData.Temp&deg;C / @WeatherInfo.WeatherData.Dewpoint&deg;C
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        @if (WeatherInfo.WeatherData.Wind.Equals("0"))
                        {
                            <label><b>Wind:</b> Calm</label>
                        }
                        else
                        {
                            <label><b>Wind:</b> @WeatherInfo.WeatherData.Wind degrees at @WeatherInfo.WeatherData.Wind_vel knots</label>
                        }
                    
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Visibility:</b> @WeatherInfo.WeatherData.Visibility statute miles
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Altimeter:</b> @WeatherInfo.WeatherData.Alt_hg Hg / @WeatherInfo.WeatherData.Alt_mb mb
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <b>Sky Conditions:</b>
                        <ul>
                            @foreach (var c in WeatherInfo.WeatherData.Sky_conditions)
                            {
                                @if (c.Coverage.Equals("CLR"))
                                {
                                    <li>Clear</li>
                                }
                                else
                                {
                                     <li>@c.Coverage at @c.Base_agl' AGL</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <label>METAR data not found</label>
            }
        </CollapseItem>
    </CollapseItems>
</Collapse>

       
@code {
    [Parameter]
    public String ICAO { get; set; }

    [Parameter]
    public MetarInfo WeatherInfo { get; set; }


    protected string Title()
    {
        return $"METAR for {ICAO.ToUpper()}";
    }
}
